.container {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 75px 75px 75px 75px;;
}

.grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
}