.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  display: grid;
  grid-template-areas:
    'register-header'
    'register-subheader'
    'register-a'
    'register-b'
    'register-c'
    'register-d'
    'register-e'
    'register-f'
    'register-g'
    'register-h'
    'register-i';
  border: 1px solid black;
  border-radius: 2px;
  padding: 20px;
}

.register-container > * {
  margin: 2px 0px;
}

.register-header {
  grid-area: register-header;
  font-size: 2em;
}

.register-subheader {
  grid-area: register-subheader;
  margin: 5px 0px;
  font-size: 1.5em;
}

.register-a {
  grid-area: register-a;
}

.register-b {
  grid-area: register-b;
}

.register-c {
  grid-area: register-c;
}

.register-e {
  grid-area: register-e;
}

.register-f {
  grid-area: register-f;
}

.register-g {
  grid-area: register-g;
}

.register-h {
  grid-area: register-h;
}

.register-i {
  grid-area: register-i;
}

.register button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0px;
}

.register label {
  font-size: 0.8em;
}
