.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register-container {
  display: grid;
  grid-template-areas:
    'register-header'
    'register-a'
    'register-b'
    'register-c'
    'register-d'
    'register-e'
    'register-f'
    'register-g'
    'register-h'
    'register-i';
  grid-template-columns: auto;
  height: 100%;
  width: 100%;
}

.register-header {
  margin-top: 40px;
  grid-area: register-header;
  font-size: 1.5em;
  font-weight: bolder;
  font-style: italic;
}

.register-a {
  grid-area: register-a;
}

.register-b {
  grid-area: register-b;
}

.register-c {
  grid-area: register-c;
}

.register-e {
  grid-area: register-e;
}

.register-f {
  grid-area: register-f;
}

.register-g {
  grid-area: register-g;
}

.register-h {
  grid-area: register-h;
}

.register-i {
  grid-area: register-i;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0px;
  background-color: black;
  color: white;
}

.register button:active {
  background-color: white;
  color: black;
}

.register label {
  font-size: 0.8em;
}
